body{
    background-color:hsl(216, 12%, 8%) ;
   
}
.star{
    width:20px;
    height: 20px;
    
}
.container{
    background-color: hsl(213, 19%, 18%);
    width:300px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    padding: 20px;

}
.main-text{
    color:white;
}
.text{
    color:hsl(217, 12%, 63%);
}
.form{
    display: flex;
    flex-direction: column;
   
}
.numbers{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
.select{
    width: 40px;
    border-radius: 100%;
    padding: 10px;
    margin-right: 10px;
    background-color: hsl(216, 12%, 54%);
    color:hsl(217, 12%, 63%);
    border: none;
    cursor: pointer;
}
.select:hover{
    background-color: orange;
    color: white;
}
.submit{
    background-color: hsl(25, 97%, 53%);
    color: white;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
}
.submit:hover{
    background-color: white;
    color: orange;
    
}
.thankdiv{
    display: none;
}
.hide{
    display: none;
}
.add{
    display: block;
}
.thank-main-text{
    color: white;
}
.second-p-text{
   color: hsl(217, 12%, 63%)
}
.active{
    background-color: lightgrey;
}
.demo{
    color: hsl(25, 97%, 53%);
    background-color:hsl(216, 12%, 54%) ;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    
}